/calcium
/carbon
/Chlorine
/Magnesium
/phosphorus
/silicon
/ar_2.nist.txt
/ar_2.nrg
/ar_2.tp
/ar_2.tp.nist.txt
/n2sWrapper.py.bak
/nist2stout.py.bak
/si_1.nist.txt
/si_1.nrg
/si_1.tp
/si_1.tp.nist.txt
